@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:'Preahvihear', Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

nav{
    background-color: #3b3a3a;
    color: azure;
    display: grid;
    -ms-grid-columns: 30% 60%;
            grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
           column-gap: 10%;
    padding: 0% 5%;
}

nav .array-input {
    display: -ms-grid;
    
}

nav .array-input #a_size {
    padding: 5% 0%;
}